apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: my-notification:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082

          env:
            - name: SERVER_PORT
              value: "8082"
            - name: EUREKA_INSTANCE_HOSTNAME
              value: notification-service
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "false"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://eureka-server-0.eureka-headless-service:8761/eureka/"


