apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: config-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8888
          volumeMounts:
            - name: config-volume
              mountPath: /config/application.properties
              subPath: application.properties
          env:
            - name: EUREKA_INSTANCE_HOSTNAME
              value: config-server
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "false"
      volumes:
        - name: config-volume
          configMap:
            name: config-map

